{% extends "base.html" %}
{% load static %}

{% block title %}All Meetups{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "meetups/styles/index.css"%}">
{% endblock %}

{% block main_heading %}
    Great meetups ahead!
{% endblock main_heading %}

{% block header_content %}
    <p>Find the one that suits you!</p>
{% endblock header_content %}

{% block content %}
    <section>
        <h2>Upcoming meetups</h2>
        <ol>
            {% for meetup in meetups %}
               {% include 'meetups/includes/single-meetup.html' with title=meetup.title location='Location' slug=meetup.slug image=meetup.image.url%}
            {% endfor %}
        </ol>
    </section>
{% endblock content %}
